<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614903167356-90cv9glp1851pi2utdu0n15rov8655kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614903167356-90cv9glp1851pi2utdu0n15rov8655kl</string>
	<key>API_KEY</key>
	<string>AIzaSyAaqNEvAsoy8phQAMo6Rpw578s6bbJhxK4</string>
	<key>GCM_SENDER_ID</key>
	<string>614903167356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iluvp1.tuffyNotes</string>
	<key>PROJECT_ID</key>
	<string>tuffynotes-e6731</string>
	<key>STORAGE_BUCKET</key>
	<string>tuffynotes-e6731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614903167356:ios:180bd535ff70c88c7dccf9</string>
</dict>
</plist>